---
layout: layout.liquid
title: planetary playing cards
---

<h1> </h1>

<div class="grid">
  <div class="card sun">
    <div class="planet sun"></div>
    <h2> sun </h2>
    <p> type GV2 </p>
  </div>

  <div class="card mercury">
    <div class="planet mercury"></div>
    <h3> mercury </h3>
    <p> AU: 0.39 </p> 
  </div>

  <div class="card venus">
    <div class="planet venus"></div>
    <h3> venus </h3>
    <p> AU: .72 </p>
  </div>

  <div class="card earth">
    <div class="planet earth"></div>
    <h3> earth </h3>
    <p> AU: 1 </p>
  </div>

  <div class="card mars">
    <div class="planet mars"></div>
    <h3> mars </h3>
    <p> AU: 1.5 </p>
  </div>

  <div class="card jupiter">
    <div class="planet jupiter"></div>
    <h3> jupiter </h3>
    <p> AU: 5.2 </p>
  </div>

  <div class="card saturn">
    <div class="planet saturn"></div>
    <h3> saturn </h3>
    <p> AU: 9.5 </p>
  </div>

  <div class="card uranus">
    <div class="planet uranus"></div>
    <h3> uranus </h3>
    <p> AU: 19.2 </p>
  </div>

  <div class="card neptune">
    <div class="planet neptune"></div>
    <h3> neptune </h3>
    <p> AU: 30.1 </p>
  </div>



</div>


    



